{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

    <!-- Contact Section -->
    <h1 style="font-size: 2.5rem; font-weight: 700;">Contact</h1>

    <p>If you have any questions or encounter any issues, feel free to reach out to us.</p>

    <hr>

    <p><strong>Lab Email:</strong><br>
        <a href="mailto:changlabserver@gmail.com">changlabserver@gmail.com</a>
    </p>

    <p><strong>Developer Email:</strong><br>
        <a href="mailto:jingweichen.work@gmail.com">jingweichen.work@gmail.com</a>
    </p>


    <!-- Authors Section -->
    <h1 
        style="margin-top: 3rem !important; padding-top: 1rem; font-size: 2.5rem; font-weight: 700;">
        Authors
    </h1>

    <hr>

    <p><strong>Developer:</strong><br>
        David Jing-Wei Chen, National Chengchi University, Taipei, Taiwan
    </p>

    <p><strong>Principal Investigator:</strong><br>
        <a href="https://www.changlabtw.com/pi-jia-ming-chang.html" target="_blank" rel="noopener">
            Jia-Ming Chang
        </a>, National Chengchi University, Taipei, Taiwan
    </p>

</div>

{% endblock %}








