{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

    <h1>Reference</h1>

    <hr>

    <h3>
        scGHSOM: A Hierarchical Framework for Single-Cell Data Clustering and Visualization
    </h3>

    <p>
        <strong>Authors:</strong>  
        Shang-Jung Wen; Jia-Ming Chang; David Jing-Wei Chen; Fang Yu
    </p>

    <p>
        <strong>Publisher:</strong> IEEE  
        <br>
        <a href="https://ieeexplore.ieee.org/document/11098883" target="_blank">
            View on IEEE Xplore →
        </a>
    </p>

</div>

{% endblock %}


